<div class="container">
  <h1>Edit <%= @flat.name %></h1>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :url %>
    <%= f.submit 'Change', class: 'btn btn-warning' %>
  <% end %>
</div>